[Unit]
Description=Socket for uWSGI app pi_buzzer

[Socket]
ListenStream=/var/run/uwsgi/pi_buzzer.socket
SocketUser=root
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
