[Unit]
Description=uWSGI app pi_buzzer
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi \
        --ini /etc/uwsgi/apps-available/pi_buzzer \
        --socket /var/run/uwsgi/pi_buzzer.socket
User=www-data
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
